<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.jdt.ui.javaCompletionProposalSorters">
      <proposalSorter
            class="jp.cles.randomsorter.RandomProposalSorter"
            id="RandomSorter.randomProposalSorter">
      </proposalSorter>
   </extension>

</plugin>
